[global]

# The  "engine" option allows you to specify the spmfilter engine.
# It's possible to switch the engine for  receiving  mails.  There
# are two engines in spmfilter for receiving emails:
#
# smtpd - This engine allows to inject emails via smtp to
#         spmfilter. 
# pipe - The pipe engine lets you inject emails via shell
#        pipe to spmfilter. This is usefully, when you don't need a full
#        smtp server.
engine = smtpd

# Enables verbose debugging output. Debugging output will be written to the
# configured syslog facility.
debug = true

# Specifies the modules, which will be loaded at runtime. All modules  will 
# be process in the same order, as listed. Module names have to be separated by a semicolon.
modules = clamav;spamassassin

# The nexthop parameter specifies the final destination, after a mail is
# processed by spmfilter. The  value  can  be  a  hostname  or  IP
# address,  with  a  port number, e.g. localhost:2525 to send filtered mails to
# localhost at port 2525.
nexthop = localhost:2525

# Path to queue directory
queue_dir = /var/spool/spmfilter

# If one module fails, there are 3 options:
# 1 = proceed and ignore
# 2 = cancel further processing and return permanet error
# 3 = cancel further processing and return temporary error (default)
module_fail = 3

# Define lookup backend, this can be either  sql  or  ldap.  Every backend 
# has it's own config section, [sql] and [ldap].
backend=
  
# If  there  are multiple server configured in the specified backend, it's  
# possible  to  define  a  failover  or  load-balancing behaviour. 
# Possible values are:
#
# balance  = when you configure the backend profile for load balancing, spmfilter
#            distributes connections across the list of hosts. If the actual host is
#            not reachable, spmfilter switches back to failover configuration.
#
# failover = when you configure the backend profile for failover, spmfilter fails over
#            to the next host in the list if it cannot connect to the first host.
backend_connection=

# If true, spmfilter will add a header with the processed modules.
add_header=true

# The maximal size in bytes of a message
max_size=0

# Enable TLS for client connections. If set to 2 the protocol will
# quit  rather  than  transferring  any  messages  if the STARTTLS
# extension is not available.
#
# 0 = disable starttls
# 1 = use STARTTLS, if available (default)
# 2 = require STARTTLS
tls_enable=0

# The pid_file option sets the file to which the daemon records the process id.
pid_file = /var/run/spmfilter.pid

# The IP addresses the daemon will bind to
bind_ip = 127.0.0.1

# Port to bind to
bind_port = 10025

# Maximum number of child processes allowed
max_childs = 15

# Unused children to always have availale
spare_childs = 5

# The maximum length of the queue of pending connections
#listen_backlog = 

# Root privs are used to open a port, then privs
# are dropped down to the user/group specified here
user = nobody
group = mail

[smtpd]
# The fail code is used as response code for the 
# sending MTA, if delivery to nexthop fails (default 451) 
nexthop_fail_code = 451

# If delivery to nexthop fails, this message will be reported 
# to the sending MTA with fail code. 
nexthop_fail_msg = Requested action aborted: local error in processing

#[sql]

# SQL database driver. Supported drivers are mysql, pgsql, sqlite.
#driver = mysql

# List of available database hosts, separated by a semicolon.  Set to 
# localhost if database is on the same host as spmfilter.
#host =  127.0.0.1  

# Database name, or path to database if driver is set to sqlite.
#name = test

# Database username.
#user =

# Database password.
#pass =

# Encoding to match database/table encoding, e.g., latin1, utf8
#encoding =

# Maximum number of connections to database server
#max_connections = 10

# Database port
#port = 

# user_query setting contains the sql query to look up user 
# information in your sql database. 
#
# This parameter supports the following '%' expansions:
#   %s = replaced by the full email address.
#   %u = replaced by the local part of the email address.
#   %d = replaced by the domain part of the email address.
#user_query = SELECT * FROM users WHERE email='%s'

#[ldap]

# List  of  available LDAP hosts, separated by a semicolon. Set to
# localhost if LDAP server is on the same host as spmfilter.
#host =

# LDAP Port
# port = 389

# Bind DN of LDAP user
#binddn =

# Password of LDAP user
#bindpw =

# Base DN (distinguishing name) for the LDAP server.
#base = 

# LDAP search scope, either subtree, onelevel or base.
# scope = subtree

# user_query setting contains the ldap query to look up user 
# information in your directory. 
#
# This parameter supports the following '%' expansions:
#   %s = replaced by the full email address.
#   %u = replaced by the local part of the email address.
#   %d = replaced by the domain part of the email address.
#user_query = (mail=%s)

# The  attribute(s) spmfilter will read from any directory 
# entries returned by the lookup, to be resolved to an email address.
#result_attributes = mail,maildrop


